# Binários para programas e plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Binários de teste gerados com `go test -c`
*.test
# Perfis de cobertura de código e outros artefatos de teste
*.out
coverage.*
*.coverprofile
profile.cov
# Diretórios de dependências (descomente se necessário)
# vendor/
# Arquivos do workspace Go
go.work
go.work.sum
# Arquivo de ambiente
env
# Configurações específicas de editores/IDEs
idea/
vscode/